body {
  margin: 100px;
}
// ----submit area----

.submit-area {
  box-shadow: 5px 5px 10px grey;
  padding: 40px;
  border-radius: 10px;
  width: 800px;
  margin: 80px auto;
}

// -----transaction area-----

#transaction-area {
  display: none;
  .balance-sheet {
    margin-top: 60px;
  }
  .balance-up-down {
    border-radius: 10px;
    color: white;
    // width: 300px;
    text-align: center;

    & p {
      font-size: 40px;
    }
  }
  .deposit-color {
    background-color: #6a5acd;
  }
  .withdraw-color {
    background-color: #ffa07a;
  }
  .input-box {
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
  }
}
